<div class="row">
  <!-- first two days -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>Before starting</td>
        <td>
          <a
            href="{{ site.pre_survey }}{{ site.github.project_title }}"
            target="_blank"
            >Pre-workshop survey</a
          >
        </td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Welcome / Summary and Setup</td>
      </tr>
      <tr>
        <td>09:30</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/01-introduction.html">Introduction to LaTeX</a>
        </td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/02-document-structure.html">File Structure</a>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/03-error-handling.html">Error Handling</a>
        </td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>-- BREAK --</td>
      </tr>
      <tr>
        <td>11:15</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/04-logical-structure.html">The Structure of a Document</a>
        </td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>LUNCH BREAK</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/05-document-classes.html">Using Document Classes</a>
        </td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/06-extending-latex.html">Extending LaTeX</a>
        </td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/07-using-graphics.html">Using Graphics</a>
        </td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>-- BREAK --</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/08-tables.html">Tables</a>
        </td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/09-cross-references.html">Adding Cross References</a>
        </td>
      </tr>

    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Day 1 Recap</td>
      </tr>
      <tr>
        <td>09:30</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/10-mathematics-and-scientific-units.html">Mathematics</a>
        </td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/11-font-format-and-spacing.html">Fonts, Formatting and Spacings</a>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/12-citations-and-references.html">Citations and References</a>
        </td>
      </tr>
      <tr>
        <td>11:15</td>
        <td>-- BREAK --</td>
      </tr>
      <tr>
        <td>11:30</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/13-context-sensitive-quotation.html">Context Sensitive Quotations</a>
        </td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>-- LUNCH --</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/14-structuring-sources.html">Structuring Sources</a>
        </td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/15-loading-and-manipulating-data.html">Loading and Manipulating Data</a>
        </td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>
          <a href="https://dkz2r.github.io/latex-novice-academic-publishing/16-documentation-and-finding-help.html">Documentation and Finding Help</a>
        </td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Workshop Wrap-Up</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Guided Assistance / Hands-On Practice</td>
      </tr>
      <tr>
        <td>End</td>
        <td>
          <a
            href="{{ site.post_survey }}{{ site.github.project_title }}"
            target="_blank"
            >Post-workshop survey</a
          >
        </td>
      </tr>
    </table>
  </div>
</div>
